Repository openstack-k8s-operators/ci-framework: changes, and which Zuul jobs are due for each by the changed paths.
All: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-dev-prepare, cifmw-molecule-artifacts, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-discover_latest_image, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_ca, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager, cifmw-molecule-operator_build, cifmw-molecule-operator_deploy, cifmw-molecule-pkg_build, cifmw-molecule-registry_deploy, cifmw-molecule-repo_setup, cifmw-molecule-rhol_crc, cifmw-molecule-run_hook, cifmw-molecule-test_deps, cifmw-molecule-wonderful_role, cifmw-kuttl, cifmw-molecule-local_env_vm, cifmw-molecule-openshift_setup, cifmw-molecule-hive_cluster

cifmw-doc:
  parent: base-ci-framework
  nodeset: centos-stream-9
  pre-run:
  - ci/playbooks/pre-doc.yml
  run:
  - ci/playbooks/run-doc.yml
  post-run:
  - ci/playbooks/collect-logs.yml

cifmw-crc-podified-edpm-deployment:
  parent: cifmw-base-crc-openstack
  run: ci/playbooks/edpm/run.yml

cifmw-crc-podified-edpm-baremetal:
  parent: cifmw-base-crc-openstack
  run: ci/playbooks/edpm_baremetal_deployment/run.yml

ci-framework-crc-podified-edpm-deployment:
  parent: cifmw-crc-podified-edpm-deployment

ci-framework-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal

cifmw-end-to-end:
  nodeset: centos-9-crc-xxl
  parent: base-simple-crc
  vars:
    crc_parameters: --memory 20000 --disk-size 120 --cpus 6
    zuul_log_collection: true
    cifmw_extras:
    - '@scenarios/centos-9/ci-build.yml'
  pre-run: ci/playbooks/e2e-prepare.yml
  run:
  - ci/playbooks/dump_zuul_vars.yml
  ...

cifmw-end-to-end-nobuild:
  nodeset: centos-9-crc-xxl
  vars:
    crc_parameters: --memory 20000 --disk-size 120 --cpus 6
    zuul_log_collection: true
  parent: base-simple-crc
  pre-run: ci/playbooks/e2e-prepare.yml
  run:
  - ci/playbooks/dump_zuul_vars.yml
  - ci/playbooks/e2e-run.yml
  post-run:
  - ci/playbooks/e2e-collect-logs.yml
  ...

cifmw-dev-prepare:
  nodeset: centos-stream-9
  parent: base-ci-framework
  pre-run:
  - ci/playbooks/molecule-prepare.yml
  run:
  - ci/playbooks/dump_zuul_vars.yml
  - ci/playbooks/dev-workflow.yml
  post-run: ci/playbooks/collect-logs.yml

cifmw-molecule-artifacts:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: artifacts

cifmw-molecule-build_openstack_packages:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: build_openstack_packages

cifmw-molecule-ci_setup:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: ci_setup

cifmw-molecule-copy_container:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: copy_container

cifmw-molecule-discover_latest_image:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: discover_latest_image

cifmw-molecule-edpm_deploy:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: edpm_deploy

cifmw-molecule-edpm_prepare:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: edpm_prepare

cifmw-molecule-install_ca:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: install_ca

cifmw-molecule-install_yamls:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: install_yamls

cifmw-molecule-libvirt_manager:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: libvirt_manager

cifmw-molecule-operator_build:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: operator_build

cifmw-molecule-operator_deploy:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: operator_deploy

cifmw-molecule-pkg_build:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: pkg_build

cifmw-molecule-registry_deploy:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: registry_deploy

cifmw-molecule-repo_setup:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: repo_setup

Adjusting ci_make for community.general > 6.5.0
  ci_framework/plugins/action/ci_make.py
  requirements.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Adds cifmw_extras to kuttl-run playbook
  ci/playbooks/e2e-run.yml
  ci/playbooks/edpm/run.yml
  ci/playbooks/edpm_baremetal_deployment/run.yml
  ci/playbooks/kuttl/run.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-kuttl

pass ansible_cfg to content provider run playbook
  ci/playbooks/content_provider/run.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Added new contributor as reviewer
  OWNERS
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal

[Nested] more working defaults
  ci/playbooks/dev-workflow.yml
  ci_framework/roles/local_env_vm/README.md
  ci_framework/roles/local_env_vm/defaults/main.yml
  docs/source/quickstart/99_FAQ.md
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-dev-prepare, cifmw-molecule-local_env_vm

Moved CRC registry permissions management to openstack_setup
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/roles/openshift_setup/tasks/main.yml
  zuul.d/end-to-end.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_prepare, cifmw-molecule-openshift_setup

Revert "Adds cifmw_extras to kuttl-run playbook"
  ci/playbooks/e2e-run.yml
  ci/playbooks/edpm/run.yml
  ci/playbooks/edpm_baremetal_deployment/run.yml
  ci/playbooks/kuttl/run.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-kuttl

Fix cifmw_edpm_deploy_baremetal_common_env vars
  ci_framework/roles/edpm_deploy_baremetal/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Added documentation examples install_yamls environment and default vars.
  CONTRIBUTING.md
Due: cifmw-doc

Get the pods names with all information
  ci_framework/roles/artifacts/tasks/cluster_info.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Setting defaults for command key of the returned dict
  ci_framework/plugins/action/ci_make.py
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Add edpm build images role
  ci/playbooks/edpm_build_images/edpm_image_builder.yml
  ci/playbooks/edpm_build_images/run.yml
  ci/templates/projects.yaml
  ci_framework/roles/edpm_build_images/README.md
  ci_framework/roles/edpm_build_images/defaults/main.yml
  ci_framework/roles/edpm_build_images/meta/main.yml
  ci_framework/roles/edpm_build_images/molecule/default/converge.yml
  ci_framework/roles/edpm_build_images/molecule/default/molecule.yml
  ci_framework/roles/edpm_build_images/molecule/default/prepare.yml
  ci_framework/roles/edpm_build_images/tasks/install.yml
  ci_framework/roles/edpm_build_images/tasks/main.yml
  ci_framework/roles/edpm_build_images/tasks/package.yml
  ci_framework/roles/edpm_build_images/tasks/run.yml
  docs/source/roles/edpm_build_images.md
  zuul.d/edpm_build_images.yaml
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Negative testing for ci_make
  ci_framework/tests/integration/targets/make/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Remove useless env file
  ci/playbooks/e2e-collect-logs.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Ensure status_code is in the registered dict
  ci_framework/roles/libvirt_manager/tasks/deploy_edpm_compute.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-libvirt_manager

Gather facts in the 99-logs.yml playbook
  ci_framework/playbooks/99-logs.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Ensure we're having cifmw_path parameter
  ci_framework/playbooks/99-logs.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Admin network setup role
  ansible-requirements.txt
  ci_framework/playbooks/07-admin-setup.yml
  ci_framework/roles/os_net_setup/README.md
  ci_framework/roles/os_net_setup/defaults/main.yml
  ci_framework/roles/os_net_setup/meta/main.yml
  ci_framework/roles/os_net_setup/molecule/default/converge.yml
  ci_framework/roles/os_net_setup/molecule/default/molecule.yml
  ci_framework/roles/os_net_setup/tasks/main.yml
  ci_framework/roles/os_net_setup/tasks/subtask_net.yml
  deploy-edpm.yml
  docs/source/roles/os_net_setup.md
  docs/source/usage/01_usage.md
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-discover_latest_image, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_ca, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager, cifmw-molecule-operator_build, cifmw-molecule-operator_deploy, cifmw-molecule-pkg_build, cifmw-molecule-registry_deploy, cifmw-molecule-repo_setup, cifmw-molecule-rhol_crc, cifmw-molecule-run_hook, cifmw-molecule-test_deps, cifmw-molecule-wonderful_role, cifmw-molecule-local_env_vm, cifmw-molecule-openshift_setup, cifmw-molecule-hive_cluster

Changing documentation build procedure
  .gitignore
  Makefile
  ci/playbooks/collect-logs.yml
  docs/doc-requirements.txt
  docs/source/Makefile
  docs/source/build-docs.sh
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

WIP: Ensuring log dir is created and used only if available
  ci/playbooks/collect-logs.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Pass KUBECONFIG to all make targets using cifmw_install_yamls_environment
  ci_framework/hooks/playbooks/ceph-deploy.yml
  ci_framework/hooks/playbooks/disable_os_marketplace.yml
  ci_framework/hooks/playbooks/rabbitmq_tuning.yml
  ci_framework/hooks/playbooks/restart_nova_scheduler.yml
  ci_framework/hooks/playbooks/validate_podified_deployment.yml
  ci_framework/playbooks/01-bootstrap.yml
  ci_framework/playbooks/02-infra.yml
  ci_framework/playbooks/03-build-packages.yml
  ci_framework/playbooks/04-build-containers.yml
  ci_framework/playbooks/05-build-operators.yml
  ci_framework/playbooks/06-deploy-edpm.yml
  ci_framework/playbooks/99-logs.yml
  ci_framework/roles/ci_setup/tasks/directories.yml
  ci_framework/roles/edpm_deploy_baremetal/tasks/main.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/roles/install_yamls/tasks/main.yml
  ci_framework/roles/openshift_login/molecule/default/converge.yml
  ci_framework/roles/openshift_login/molecule/default/prepare.yml
  ci_framework/roles/openshift_login/tasks/main.yml
  ci_framework/roles/run_hook/tasks/playbook.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-molecule-ci_setup, cifmw-molecule-edpm_prepare, cifmw-molecule-install_yamls, cifmw-molecule-run_hook

Protect 99-logs and subsequent artifacts role
  ci_framework/playbooks/99-logs.yml
  ci_framework/roles/artifacts/tasks/cluster_info.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Support post-config tweaks for CRC
  ci_framework/roles/rhol_crc/defaults/main.yml
  ci_framework/roles/rhol_crc/tasks/main.yml
  ci_framework/roles/rhol_crc/tasks/post-configuration.yml
  ci_framework/roles/rhol_crc/vars/main.yml
  docs/source/quickstart/04_non-virt.md
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-rhol_crc

Grab CRC VM logs from its disk image
  ci_framework/roles/artifacts/tasks/crc.yml
  ci_framework/roles/artifacts/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

[WIP] consume wait params from install_yamls
  ci_framework/roles/edpm_prepare/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_prepare

Adds ansible role for claiming and unclaiming clusters through hive
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/defaults/main.yml
  ci_framework/roles/hive/molecule/default/converge.yml
  ci_framework/roles/hive/molecule/default/molecule.yml
  ci_framework/roles/hive/molecule/default/prepare.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc_apply.yml
  ci_framework/roles/hive/tasks/oc_delete.yml
  ci_framework/roles/hive/tasks/openstack_claim_cluster.yml
  ci_framework/roles/hive/tasks/openstack_unclaim_cluster.yml
  ci_framework/roles/hive/templates/claim.yml.j2
  docs/source/roles/hive.md
  docs/source/usage/01_usage.md
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Temporary disable the "admin_setup" step
  deploy-edpm.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

[DNM] Test
  ci_framework/roles/edpm_build_images/tasks/main.yml
  zuul.d/edpm_build_images.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Improve trigger for CRC log gathering
  ci_framework/roles/artifacts/tasks/crc.yml
  ci_framework/roles/artifacts/tasks/main.yml
  ci_framework/roles/rhol_crc/tasks/find_crc.yml
  ci_framework/roles/rhol_crc/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts, cifmw-molecule-rhol_crc

Ensure libguestfs is installed when gathering CRC VM logs
  ci_framework/roles/artifacts/tasks/crc.yml
  ci_framework/roles/artifacts/vars/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Increase CRC memory and CPU
  scenarios/centos-9/edpm_baremetal_deployment_ci.yml
  zuul.d/edpm.yaml
  zuul.d/end-to-end.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Remove install_yamls operator repositories from artifacts
  ci_framework/roles/artifacts/tasks/cleanup.yml
  ci_framework/roles/artifacts/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Remove operator namespace workaround
  scenarios/centos-9/edpm_baremetal_deployment_ci.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Add support for TLS verification skipping in Podman logins.
  ci_framework/roles/openshift_setup/README.md
  ci_framework/roles/openshift_setup/defaults/main.yml
  ci_framework/roles/openshift_setup/tasks/main.yml
  scenarios/centos-9/edpm_baremetal_deployment_ci.yml
  scenarios/centos-9/edpm_ci.yml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild, cifmw-molecule-openshift_setup

Adding a new role - openshift_provisioner_node
  ci_framework/playbooks/02-infra.yml
  ci_framework/roles/openshift_provisioner_node/README.md
  ci_framework/roles/openshift_provisioner_node/defaults/main.yml
  ci_framework/roles/openshift_provisioner_node/files/add_bridge_port.sh
  ci_framework/roles/openshift_provisioner_node/meta/main.yml
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/converge.yml
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/molecule.yml
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/prepare.yml
  ci_framework/roles/openshift_provisioner_node/tasks/add_bridges.yml
  ci_framework/roles/openshift_provisioner_node/tasks/add_user.yml
  ci_framework/roles/openshift_provisioner_node/tasks/add_virtual_network.yml
  ci_framework/roles/openshift_provisioner_node/tasks/cleanup.yml
  ci_framework/roles/openshift_provisioner_node/tasks/cleanup_virtual_network.yml
  ci_framework/roles/openshift_provisioner_node/tasks/install_packages.yml
  ci_framework/roles/openshift_provisioner_node/tasks/main.yml
  ci_framework/roles/openshift_provisioner_node/templates/virt_net.xml.j2
  ci_framework/roles/openshift_provisioner_node/vars/main.yml
  docs/source/roles/openshift_provisioner_node.md
  docs/source/usage/01_usage.md
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

os-net-setup: enable and add retries + pre-debug
  ci_framework/roles/os_net_setup/tasks/main.yml
  deploy-edpm.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Add support for OCP deployment on physical servers using hive.
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/defaults/main.yml
  ci_framework/roles/hive/meta/main.yml
  ci_framework/roles/hive/molecule/default/converge.yml
  ci_framework/roles/hive/molecule/default/foo_bm_install_config.yml
  ci_framework/roles/hive/molecule/default/prepare.yml
  ci_framework/roles/hive/tasks/baremetal_delete_cluster.yml
  ci_framework/roles/hive/tasks/baremetal_deploy_cluster.yml
  ci_framework/roles/hive/tasks/baremetal_gather_access.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc_apply.yml
  ci_framework/roles/hive/tasks/openstack_unclaim_cluster.yml
  ci_framework/roles/hive/templates/bm_deploy_config.yml.j2
  ci_framework/roles/hive/templates/bm_install_config.yml.j2
  ci_framework/roles/hive/templates/ocp_image.yml.j2
  ci_framework/roles/hive/templates/private_key.yml.j2
  ci_framework/roles/hive/vars/main.yml
  docs/source/usage/01_usage.md
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Add a step to make sure operators are actually installed
  ci_framework/roles/edpm_prepare/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_prepare

Module level docs for ci_make
  ci_framework/plugins/action/ci_make.py
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Add polarion role
  ci_framework/roles/polarion/README.md
  ci_framework/roles/polarion/defaults/main.yml
  ci_framework/roles/polarion/meta/main.yml
  ci_framework/roles/polarion/molecule/default/converge.yml
  ci_framework/roles/polarion/molecule/default/molecule.yml
  ci_framework/roles/polarion/tasks/cleanup.yml
  ci_framework/roles/polarion/tasks/main.yml
  ci_framework/roles/polarion/vars/main.yml
  docs/source/roles/polarion.md
  zuul.d/molecule.yaml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-end-to-end-nobuild

Path conditions:
  cifmw-doc: any of: ^docs, .*/*.md
  cifmw-crc-podified-edpm-deployment: unless all of: .*/*.md
  cifmw-crc-podified-edpm-baremetal: unless all of: .*/*.md
  ci-framework-crc-podified-edpm-deployment: any of: ^ci_framework/playbooks/*, ^ci_framework/roles/edpm_prepare/(?!meta|README).*, ^ci_framework/roles/edpm_deploy/(?!meta|README).*, ^deploy-edpm.yml, ^scenarios/centos-9/edpm_ci.yml
  ci-framework-crc-podified-edpm-baremetal: any of: ^ci_framework/playbooks/*, ^ci_framework/roles/edpm_deploy_baremetal/(?!meta|README).*, ^ci/playbooks/edpm_baremetal_deployment/run.yml, ^deploy-edpm.yml, ^scenarios/centos-9/edpm_baremetal_deployment_ci.yml
  cifmw-end-to-end: (any of: ^ci_framework/roles/.*_build/(?!meta|README).*, ^ci_framework/roles/build.*/(?!meta|README).*, ^ci_framework/roles/openshift_*/(?!meta|README).*, ^ci_framework/playbooks/.*build.*.yml) and (unless all of: ^.*/*.md, ^ci/templates)
  cifmw-end-to-end-nobuild: unless all of: ^ci_framework/roles/.*_build, ^ci_framework/roles/build.*, ^ci_framework/roles/local_env_vm, ^ci/templates, ^docs, ^.*/*.md, ^OWNERS, ^.github
  cifmw-dev-prepare: any of: ^ci_framework/roles/local_env_vm/(?!meta|README).*
  cifmw-molecule-artifacts: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/artifacts/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/artifacts/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-build_openstack_packages: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/build_openstack_packages/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/build_openstack_packages/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-ci_setup: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/ci_setup/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/ci_setup/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-copy_container: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/copy_container/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/copy_container/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-discover_latest_image: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/discover_latest_image/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/discover_latest_image/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-edpm_deploy: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_deploy/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_deploy/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-edpm_prepare: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_prepare/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_prepare/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-install_ca: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_ca/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_ca/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-install_yamls: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_yamls/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_yamls/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-libvirt_manager: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/libvirt_manager/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/libvirt_manager/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-operator_build: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_build/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_build/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-operator_deploy: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_deploy/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_deploy/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-pkg_build: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/pkg_build/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/pkg_build/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-registry_deploy: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/registry_deploy/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/registry_deploy/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-repo_setup: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/repo_setup/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/repo_setup/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-rhol_crc: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/rhol_crc/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/rhol_crc/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-run_hook: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/run_hook/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/run_hook/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-test_deps: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/test_deps/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/test_deps/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-wonderful_role: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/wonderful_role/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-kuttl: any of: ^ci/playbooks/kuttl/.*, ^scenarios/centos-9/kuttl.yml, ^zuul.d/kuttl.yaml
  cifmw-molecule-local_env_vm: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/local_env_vm/(?!meta|README).*, ^ci/playbooks/molecule.*
  cifmw-molecule-openshift_setup: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/openshift_setup/(?!meta|README).*, ^ci/playbooks/molecule.*
  cifmw-molecule-hive_cluster: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/hive_cluster/(?!meta).*, ^ci/playbooks/molecule.*
