Repository openstack-k8s-operators/ci-framework: changes, and which Zuul jobs are due for each by the changed paths.
All: cifmw-doc, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-dev-prepare, cifmw-molecule-artifacts, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-discover_latest_image, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_ca, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager, cifmw-molecule-operator_build, cifmw-molecule-operator_deploy, cifmw-molecule-pkg_build, cifmw-molecule-registry_deploy, cifmw-molecule-repo_setup, cifmw-molecule-rhol_crc, cifmw-molecule-run_hook, cifmw-molecule-test_deps, cifmw-molecule-wonderful_role, cifmw-kuttl

cifmw-doc:
  parent: base-ci-framework
  nodeset: centos-stream-9
  pre-run:
  - ci/playbooks/pre-doc.yml
  run:
  - ci/playbooks/run-doc.yml
  post-run:
  - ci/playbooks/collect-logs.yml

ci-framework-crc-podified-edpm-deployment:
  parent: cifmw-crc-podified-edpm-deployment
  vars:
    cifmw_operator_build_output:
      operators:
        openstack-operator:
          git_src_dir: /home/zuul-worker/src/github.com/openstack-k8s-operators/openstack-operator
  ...

cifmw-end-to-end:
  nodeset: centos-9-crc-xxl
  vars:
    crc_parameters: --memory 20000 --disk-size 120 --cpus 6
    cifmw_ci_builds: true
  parent: base-simple-crc
  pre-run: ci/playbooks/e2e-prepare.yml
  run:
  - ci/playbooks/dump_zuul_vars.yml
  - ci/playbooks/e2e-run.yml
  post-run: ci/playbooks/collect-logs.yml
  ...

cifmw-end-to-end-nobuild:
  nodeset: centos-9-crc-xxl
  vars:
    crc_parameters: --memory 20000 --disk-size 120 --cpus 6
    cifmw_ci_builds: false
  parent: base-simple-crc
  pre-run: ci/playbooks/e2e-prepare.yml
  run:
  - ci/playbooks/dump_zuul_vars.yml
  - ci/playbooks/e2e-run.yml
  post-run: ci/playbooks/collect-logs.yml
  ...

cifmw-dev-prepare:
  nodeset: centos-stream-9
  parent: base-ci-framework
  pre-run:
  - ci/playbooks/molecule-prepare.yml
  run:
  - ci/playbooks/dump_zuul_vars.yml
  - ci/playbooks/dev-workflow.yml
  post-run: ci/playbooks/collect-logs.yml

cifmw-molecule-artifacts:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: artifacts

cifmw-molecule-build_openstack_packages:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: build_openstack_packages

cifmw-molecule-ci_setup:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: ci_setup

cifmw-molecule-copy_container:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: copy_container

cifmw-molecule-discover_latest_image:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: discover_latest_image

cifmw-molecule-edpm_deploy:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: edpm_deploy

cifmw-molecule-edpm_prepare:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: edpm_prepare

cifmw-molecule-install_ca:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: install_ca

cifmw-molecule-install_yamls:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: install_yamls

cifmw-molecule-libvirt_manager:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: libvirt_manager

cifmw-molecule-operator_build:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: operator_build

cifmw-molecule-operator_deploy:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: operator_deploy

cifmw-molecule-pkg_build:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: pkg_build

cifmw-molecule-registry_deploy:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: registry_deploy

cifmw-molecule-repo_setup:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: repo_setup

cifmw-molecule-rhol_crc:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: rhol_crc

cifmw-molecule-run_hook:
  parent: cifmw-molecule-base
  vars:
    TEST_RUN: run_hook

Adds extra bundle option to operator_build role
  ci_framework/roles/operator_build/README.md
  ci_framework/roles/operator_build/defaults/main.yml
  ci_framework/roles/operator_build/tasks/build.yml
  scenarios/centos-9/ci-build.yml
Due: cifmw-doc, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-molecule-operator_build

Sets cifmw_openshift_setup_kubeconfig for rdo crc-base jobs
  zuul.d/edpm.yaml
Due: cifmw-end-to-end-nobuild

Ensure cifmw_kubeconfig is set if externally given out of infra step
  ci_framework/playbooks/02-infra.yml
Due: cifmw-end-to-end-nobuild

Add cifmw_operator_build_extra_bundles to content provider scenario
  scenarios/centos-9/content_provider.yml
Due: cifmw-end-to-end-nobuild

Create /home/zuul directory in job workspace
  ci/playbooks/edpm/pre.yml
  zuul.d/edpm.yaml
Due: cifmw-end-to-end-nobuild

Update create a PSI instance section
  docs/source/Quickstart/03_psi.md
Due: cifmw-doc, cifmw-end-to-end-nobuild

Correct loop label
  ci_framework/roles/ci_setup/tasks/directories.yml
Due: cifmw-end-to-end-nobuild, cifmw-molecule-ci_setup

Update the PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/require-checklist.yaml
Due: cifmw-doc, cifmw-end-to-end-nobuild

Update small nits regarding local non virt
  docs/source/Quickstart/04_non-virt.md
Due: cifmw-doc, cifmw-end-to-end-nobuild

Replace zuul-worker with zuul
  ci/playbooks/edpm/pre.yml
  zuul.d/edpm.yaml
Due: cifmw-end-to-end-nobuild

WIP: Adds ansible role for creating and deleting clusters through hive
  ci_framework/roles/hive_cluster/README.md
  ci_framework/roles/hive_cluster/tasks/cleanup.yml
  ci_framework/roles/hive_cluster/tasks/main.yml
  ci_framework/roles/hive_cluster/tasks/oc-apply.yml
  ci_framework/roles/hive_cluster/tasks/oc-delete.yml
  ci_framework/roles/hive_cluster/tasks/openstack.yml
  ci_framework/roles/hive_cluster/templates/claim.yml.j2
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-doc, cifmw-end-to-end-nobuild

Changing to hive instead of hive_cluster
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/defaults/main.yml
  ci_framework/roles/hive/tasks/cleanup.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc-apply.yml
  ci_framework/roles/hive/tasks/oc-delete.yml
  ci_framework/roles/hive/tasks/openstack_cluster_claim.yml
  ci_framework/roles/hive/tasks/openstack_cluster_delete.yml
  ci_framework/roles/hive/templates/claim.yml.j2
  ci_framework/roles/hive_cluster/README.md
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-doc, cifmw-end-to-end-nobuild

Addressing comments II
  ci_framework/playbooks/02-infra.yml
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/molecule/default/converge.yml
  ci_framework/roles/hive/molecule/default/molecule.yml
  ci_framework/roles/hive/molecule/default/prepare.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc-delete.yml
  ci_framework/roles/hive/tasks/openstack_claim.yml
  ci_framework/roles/hive/tasks/openstack_delete.yml
Due: cifmw-doc, cifmw-end-to-end-nobuild

Adding cifmw_hive to vars
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/defaults/main.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/openstack_cluster_claim.yml
Due: cifmw-doc, cifmw-end-to-end-nobuild

Address comments III
  ci_framework/playbooks/02-infra.yml
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/defaults/main.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc-apply.yml
  ci_framework/roles/hive/tasks/openstack_claim.yml
  ci_framework/roles/hive/tasks/openstack_unclaim.yml
Due: cifmw-doc, cifmw-end-to-end-nobuild

Addressing comments
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/defaults/main.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc-apply.yml
  ci_framework/roles/hive/tasks/openstack_cluster_claim.yml
  ci_framework/roles/hive/tasks/openstack_cluster_delete.yml
  ci_framework/roles/hive/templates/claim.yml.j2
Due: cifmw-doc, cifmw-end-to-end-nobuild

Adding molecule tests
  ci_framework/roles/hive/molecule/default/converge.yml
  ci_framework/roles/hive/molecule/default/prepare.yml
  ci_framework/roles/hive/tasks/oc-delete.yml
  ci_framework/roles/hive/tasks/openstack_unclaim.yml
Due: cifmw-end-to-end-nobuild

Extend generate_make_tasks documentation
  ci_framework/plugins/README.md
Due: cifmw-doc, cifmw-end-to-end-nobuild

Improve documentation related to the requirements
  docs/source/Quickstart/01_requirements.md
  docs/source/Quickstart/02_nested_virt.md
  docs/source/Quickstart/04_non-virt.md
Due: cifmw-doc, cifmw-end-to-end-nobuild

Ensure we expose our custom PATH to command/shell
  ci_framework/roles/edpm_prepare/tasks/main.yml
Due: ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_prepare

Use OPERATOR_NAMESPACE in operator installation
  ci_framework/roles/edpm_prepare/tasks/main.yml
  zuul.d/edpm.yaml
Due: ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_prepare

Allow to `retry` make_* targets
  ci_framework/plugins/modules/generate_make_tasks.py
  ci_framework/roles/edpm_prepare/tasks/main.yml
Due: ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_prepare

Run commands before and after kuttl run
  ci/playbooks/kuttl/e2e-kuttl.yml
  ci/playbooks/kuttl/run-kuttl-tests.yml
  scenarios/centos-9/kuttl.yml
  zuul.d/kuttl.yaml
Due: cifmw-end-to-end-nobuild, cifmw-kuttl

Add some more people to OWNERS
  OWNERS
  zuul.d/end-to-end.yaml
Due: cifmw-end-to-end-nobuild

[DNM] owners file zuul job check
  OWNERS
Due: cifmw-end-to-end-nobuild

Interactive script for OSP VM creation
  scripts/create_osp_instance
Due: cifmw-end-to-end-nobuild

Scripts: create_osp_instance improvements
  scripts/create_osp_instance
Due: cifmw-end-to-end-nobuild

Fix bashhate errors
  scripts/create_osp_instance
Due: cifmw-end-to-end-nobuild

Addressing comments IV
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/defaults/main.yml
  ci_framework/roles/hive/molecule/default/converge.yml
  ci_framework/roles/hive/molecule/default/prepare.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc_apply.yml
  ci_framework/roles/hive/tasks/oc_delete.yml
  ci_framework/roles/hive/tasks/openstack_claim_cluster.yml
  ci_framework/roles/hive/tasks/openstack_unclaim_cluster.yml
  zuul.d/molecule.yaml
Due: cifmw-doc, cifmw-end-to-end-nobuild

Do not run workflow on issues
  .github/workflows/require-checklist.yaml
  zuul.d/end-to-end.yaml
Due: cifmw-end-to-end-nobuild

Fix minor issues in sudoers setup doc
  docs/source/Quickstart/01_requirements.md
Due: cifmw-doc, cifmw-end-to-end-nobuild

Use zuul clonned dataplane-operator code for edpm deploy
  scenarios/centos-9/edpm_ci.yml
  zuul.d/edpm.yaml
Due: cifmw-end-to-end-nobuild

Move log collection in post-run zuul step
  ci/playbooks/e2e-collect-logs.yml
  ci/playbooks/edpm/run.yml
  deploy-edpm.yml
  zuul.d/edpm.yaml
  zuul.d/end-to-end.yaml
Due: ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

add collection of Openstack CR instances.
  ci_framework/roles/artifacts/tasks/cluster_info.yml
Due: cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Collect meta operator related logs
  ci_framework/roles/artifacts/tasks/cluster_info.yml
Due: cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Installing openshift client as part of ci_setup
  ci_framework/roles/ci_setup/README.md
  ci_framework/roles/ci_setup/defaults/main.yml
  ci_framework/roles/ci_setup/meta/main.yml
  ci_framework/roles/ci_setup/molecule/default/converge.yml
  ci_framework/roles/ci_setup/tasks/packages.yml
  ci_framework/roles/ci_setup/vars/main.yml
Due: cifmw-doc, cifmw-end-to-end-nobuild, cifmw-molecule-ci_setup

Added new openshift_login role
  .gitignore
  ci_framework/hooks/playbooks/ceph-deploy.yml
  ci_framework/hooks/playbooks/disable_os_marketplace.yml
  ci_framework/hooks/playbooks/rabbitmq_tuning.yml
  ci_framework/hooks/playbooks/restart_nova_scheduler.yml
  ci_framework/playbooks/02-infra.yml
  ci_framework/playbooks/05-build-operators.yml
  ci_framework/roles/edpm_prepare/molecule/default/converge.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/roles/openshift_login/README.md
  ci_framework/roles/openshift_login/defaults/main.yml
  ci_framework/roles/openshift_login/meta/main.yml
  ci_framework/roles/openshift_login/molecule/default/converge.yml
  ci_framework/roles/openshift_login/molecule/default/molecule.yml
  ci_framework/roles/openshift_login/molecule/default/prepare.yml
  ci_framework/roles/openshift_login/tasks/cleanup.yml
  ci_framework/roles/openshift_login/tasks/login.yml
  ci_framework/roles/openshift_login/tasks/main.yml
  ci_framework/roles/openshift_login/tasks/try_login.yml
  ci_framework/roles/openshift_login/vars/main.yml
  ci_framework/roles/openshift_setup/README.md
  ci_framework/roles/openshift_setup/molecule/default/converge.yml
  ci_framework/roles/openshift_setup/tasks/main.yml
  ci_framework/roles/rhol_crc/tasks/main.yml
  docs/source/Roles/openshift_login.md
  docs/source/Usage/01_usage.md
  scenarios/centos-9/ci-build.yml
  scenarios/centos-9/ci.yml
  scenarios/centos-9/edpm_ci.yml
  scripts/create_role_molecule
  zuul.d/edpm.yaml
  zuul.d/end-to-end.yaml
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-doc, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_prepare, cifmw-molecule-rhol_crc

Update/correct example for role
  ci_framework/roles/discover_latest_image/README.md
Due: cifmw-doc, cifmw-end-to-end-nobuild, cifmw-molecule-discover_latest_image

Path conditions:
  cifmw-doc: any of: ^docs, .*/*.md
  ci-framework-crc-podified-edpm-deployment: any of: ^ci_framework/roles/edpm_prepare, ^ci_framework/roles/edpm_deploy, ^deploy-edpm.yml
  cifmw-end-to-end: any of: ^ci_framework/roles/.*_build, ^ci_framework/roles/build.*
  cifmw-end-to-end-nobuild: unless all of: ^ci_framework/roles/.*_build, ^ci_framework/roles/build.*, ^ci_framework/roles/local_env_vm
  cifmw-dev-prepare: any of: ^ci_framework/roles/local_env_vm
  cifmw-molecule-artifacts: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/artifacts/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-build_openstack_packages: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/build_openstack_packages/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-ci_setup: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/ci_setup/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-copy_container: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/copy_container/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-discover_latest_image: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/discover_latest_image/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-edpm_deploy: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_deploy/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-edpm_prepare: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_prepare/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-install_ca: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_ca/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-install_yamls: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_yamls/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-libvirt_manager: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/libvirt_manager/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-operator_build: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_build/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-operator_deploy: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_deploy/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-pkg_build: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/pkg_build/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-registry_deploy: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/registry_deploy/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-repo_setup: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/repo_setup/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-rhol_crc: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/rhol_crc/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-run_hook: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/run_hook/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-test_deps: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/test_deps/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-wonderful_role: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/wonderful_role/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-kuttl: any of: ^ci/playbooks/kuttl/.*, ^scenarios/centos-9/kuttl.yml, ^zuul.d/kuttl.yaml
