Repository openstack-k8s-operators/ci-framework: changes, and which Zuul jobs are due for each by the changed paths.
All: cifmw-doc, cifmw-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-dev-prepare, cifmw-molecule-artifacts, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-discover_latest_image, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_ca, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager, cifmw-molecule-operator_build, cifmw-molecule-operator_deploy, cifmw-molecule-pkg_build, cifmw-molecule-registry_deploy, cifmw-molecule-repo_setup, cifmw-molecule-rhol_crc, cifmw-molecule-run_hook, cifmw-molecule-test_deps, cifmw-molecule-wonderful_role, cifmw-kuttl, cifmw-molecule-local_env_vm, cifmw-molecule-openshift_setup, cifmw-molecule-hive_cluster

Path conditions:
  cifmw-doc: any of: ^docs, .*/*.md
  cifmw-crc-podified-edpm-deployment: unless all of: .*/*.md
  ci-framework-crc-podified-edpm-deployment: any of: ^ci_framework/roles/edpm_prepare/(?!meta|README).*, ^ci_framework/roles/edpm_deploy/(?!meta|README).*, ^deploy-edpm.yml, ^scenarios/centos-9/edpm_ci.yml
  cifmw-end-to-end: (any of: ^ci_framework/roles/.*_build/(?!meta|README).*, ^ci_framework/roles/build.*/(?!meta|README).*, ^ci_framework/roles/openshift_setup/(?!meta|README).*) and (unless all of: ^.*/*.md, ^ci/templates)
  cifmw-end-to-end-nobuild: unless all of: ^ci_framework/roles/.*_build, ^ci_framework/roles/build.*, ^ci_framework/roles/local_env_vm, ^ci/templates, ^docs, ^.*/*.md, ^OWNERS
  cifmw-dev-prepare: any of: ^ci_framework/roles/local_env_vm/(?!meta|README).*
  cifmw-molecule-artifacts: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/artifacts/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/artifacts/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-build_openstack_packages: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/build_openstack_packages/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/build_openstack_packages/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-ci_setup: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/ci_setup/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/ci_setup/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-copy_container: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/copy_container/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/copy_container/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-discover_latest_image: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/discover_latest_image/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/discover_latest_image/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-edpm_deploy: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_deploy/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_deploy/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-edpm_prepare: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_prepare/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_prepare/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-install_ca: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_ca/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_ca/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-install_yamls: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_yamls/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_yamls/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-libvirt_manager: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/libvirt_manager/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/libvirt_manager/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-operator_build: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_build/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_build/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-operator_deploy: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_deploy/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_deploy/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-pkg_build: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/pkg_build/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/pkg_build/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-registry_deploy: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/registry_deploy/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/registry_deploy/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-repo_setup: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/repo_setup/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/repo_setup/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-rhol_crc: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/rhol_crc/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/rhol_crc/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-run_hook: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/run_hook/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/run_hook/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-test_deps: (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/test_deps/(?!meta).*, ^ci/playbooks/molecule.*) or (any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/test_deps/(?!meta|README).*, ^ci/playbooks/molecule.*)
  cifmw-molecule-wonderful_role: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/wonderful_role/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-kuttl: any of: ^ci/playbooks/kuttl/.*, ^scenarios/centos-9/kuttl.yml, ^zuul.d/kuttl.yaml
  cifmw-molecule-local_env_vm: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/local_env_vm/(?!meta|README).*, ^ci/playbooks/molecule.*
  cifmw-molecule-openshift_setup: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/openshift_setup/(?!meta|README).*, ^ci/playbooks/molecule.*
  cifmw-molecule-hive_cluster: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/hive_cluster/(?!meta).*, ^ci/playbooks/molecule.*

Change kuttl job to use base-simple-crc as parent
  zuul.d/kuttl.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-kuttl

Use base-simple-crc as a parent for EDPM jobs
  ci_framework/roles/edpm_deploy/tasks/main.yml
  ci_framework/roles/edpm_prepare/README.md
  ci_framework/roles/edpm_prepare/tasks/main.yml
  scenarios/centos-9/edpm_ci.yml
  zuul.d/edpm.yaml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare

edpm_deploy_baremetal role and CI Job
  ci/playbooks/edpm_baremetal_deployment/run.yml
  ci/templates/projects.yaml
  ci_framework/playbooks/06-deploy-edpm.yml
  ci_framework/roles/edpm_deploy_baremetal/README.md
  ci_framework/roles/edpm_deploy_baremetal/defaults/main.yml
  ci_framework/roles/edpm_deploy_baremetal/meta/main.yml
  ci_framework/roles/edpm_deploy_baremetal/molecule/default/converge.yml
  ci_framework/roles/edpm_deploy_baremetal/molecule/default/molecule.yml
  ci_framework/roles/edpm_deploy_baremetal/molecule/default/prepare.yml
  ci_framework/roles/edpm_deploy_baremetal/tasks/main.yml
  docs/source/Roles/edpm_deploy_baremetal.md
  docs/source/Usage/01_usage.md
  scenarios/centos-9/edpm_baremetal_deployment_ci.yml
  zuul.d/edpm.yaml
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Fix minor doc issues in non-virt deployment
  docs/source/Quickstart/04_non-virt.md
Due: cifmw-doc

Consolidate a bit ansible code
  ci_framework/roles/artifacts/tasks/cleanup.yml
  ci_framework/roles/artifacts/tasks/main.yml
  ci_framework/roles/artifacts/tasks/packages.yml
  ci_framework/roles/build_openstack_packages/tasks/install_dlrn.yml
  ci_framework/roles/ci_setup/tasks/packages.yml
  ci_framework/roles/copy_container/tasks/cron.yml
  ci_framework/roles/copy_container/tasks/main.yml
  ci_framework/roles/edpm_deploy/tasks/main.yml
  ci_framework/roles/edpm_prepare/tasks/cleanup.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/roles/install_ca/tasks/main.yml
  ci_framework/roles/install_yamls/tasks/main.yml
  ci_framework/roles/libvirt_manager/tasks/main.yml
  ci_framework/roles/libvirt_manager/tasks/packages.yml
  ci_framework/roles/local_env_vm/tasks/main.yml
  ci_framework/roles/openshift_login/tasks/cleanup.yml
  ci_framework/roles/openshift_setup/tasks/cleanup.yml
  ci_framework/roles/operator_build/tasks/main.yml
  ci_framework/roles/pkg_build/tasks/cleanup.yml
  ci_framework/roles/pkg_build/tasks/main.yml
  ci_framework/roles/registry_deploy/tasks/main.yml
  ci_framework/roles/rhol_crc/tasks/dependencies.yml
  ci_framework/roles/rhol_crc/tasks/main.yml
  ci_framework/roles/run_hook/tasks/cleanup.yml
  ci_framework/roles/test_deps/tasks/main.yml
  docs/source/Usage/01_usage.md
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-dev-prepare, cifmw-molecule-artifacts, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_ca, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager, cifmw-molecule-operator_build, cifmw-molecule-pkg_build, cifmw-molecule-registry_deploy, cifmw-molecule-rhol_crc, cifmw-molecule-run_hook, cifmw-molecule-test_deps, cifmw-molecule-local_env_vm, cifmw-molecule-openshift_setup

Add baremetal-operator in required project & sort
  zuul.d/edpm.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Create placeholder for cookbooks
  docs/source/Cookbooks/01_comingsoon.md
  docs/source/index.rst
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment

Remove crc bits from cifmw-base-crc-openstack
  zuul.d/edpm.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Pass proper namespace while collecting pods info
  ci_framework/roles/artifacts/tasks/cluster_info.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Fix pod log collection
  ci_framework/roles/artifacts/tasks/cluster_info.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Use lower case directory name for doc tree
  docs/source/cookbooks/01_comingsoon.md
  docs/source/development/01_contributing.md
  docs/source/development/02_molecule.md
  docs/source/index.rst
  docs/source/internals/01_structure.md
  docs/source/internals/02_testing.md
  docs/source/quickstart/01_requirements.md
  docs/source/quickstart/02_nested_virt.md
  docs/source/quickstart/03_psi.md
  docs/source/quickstart/04_non-virt.md
  docs/source/quickstart/99_FAQ.md
  docs/source/roles/artifacts.md
  docs/source/roles/build_openstack_packages.md
  docs/source/roles/ci_setup.md
  docs/source/roles/discover_latest_image.md
  docs/source/roles/edpm_deploy.md
  docs/source/roles/edpm_deploy_baremetal.md
  docs/source/roles/edpm_prepare.md
  docs/source/roles/install_ca.md
  docs/source/roles/install_yamls.md
  docs/source/roles/libvirt_manager.md
  docs/source/roles/local_env_vm.md
  docs/source/roles/openshift_login.md
  docs/source/roles/openshift_setup.md
  docs/source/roles/operator_build.md
  docs/source/roles/operator_deploy.md
  docs/source/roles/pkg_build.md
  docs/source/roles/registry_deploy.md
  docs/source/roles/repo_setup.md
  docs/source/roles/rhol_crc.md
  docs/source/roles/run_hook.md
  docs/source/roles/test_deps.md
  docs/source/usage/01_usage.md
  docs/source/usage/02_own_ci.md
  scripts/create_role_molecule
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Actually enable tags in ansible
  ci_framework/playbooks/01-bootstrap.yml
  ci_framework/playbooks/02-infra.yml
  ci_framework/playbooks/03-build-packages.yml
  ci_framework/playbooks/04-build-containers.yml
  ci_framework/playbooks/05-build-operators.yml
  ci_framework/playbooks/06-deploy-edpm.yml
  ci_framework/playbooks/99-logs.yml
  ci_framework/playbooks/hooks.yml
  ci_framework/roles/build_openstack_packages/tasks/main.yml
  ci_framework/roles/ci_setup/tasks/cleanup.yml
  ci_framework/roles/ci_setup/tasks/main.yml
  ci_framework/roles/copy_container/tasks/main.yml
  ci_framework/roles/libvirt_manager/tasks/main.yml
  ci_framework/roles/openshift_login/tasks/login.yml
  ci_framework/roles/repo_setup/tasks/main.yml
  ci_framework/roles/rhol_crc/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-libvirt_manager, cifmw-molecule-repo_setup, cifmw-molecule-rhol_crc

Start contribution guidelines
  docs/source/development/01_guidelines.md
Due: cifmw-doc

Fixing molecule tests
  ci_framework/roles/hive/README.md
  ci_framework/roles/hive/molecule/default/prepare.yml
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc_apply.yml
  ci_framework/roles/hive/tasks/openstack_claim_cluster.yml
  ci_framework/roles/hive/tasks/openstack_unclaim_cluster.yml
  docs/source/Roles/hive.md
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Fixing molecule tests
  ci_framework/roles/hive/tasks/main.yml
  ci_framework/roles/hive/tasks/oc_apply.yml
  ci_framework/roles/hive/tasks/openstack_claim_cluster.yml
  ci_framework/roles/hive/tasks/openstack_unclaim_cluster.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Convert -nobuild job to -tagged-nobuild
  ci/playbooks/e2e-run.yml
  ci/templates/projects.yaml
  zuul.d/end-to-end.yaml
  zuul.d/projects.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Correct issues
  ci_framework/playbooks/01-bootstrap.yml
  ci_framework/roles/artifacts/tasks/cluster_info.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-artifacts

Improve documentation related to tags
  docs/source/usage/01_usage.md
Due: cifmw-doc

Fixing typo in copy containers
  ci_framework/roles/copy_container/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-copy_container

Always create and cleanup storage on each kuttl run
  ci/playbooks/kuttl/run-kuttl-tests.yml
  scenarios/centos-9/kuttl.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-kuttl

Add a var in operator_build role to disable tls verify
  ci_framework/roles/operator_build/README.md
  ci_framework/roles/operator_build/defaults/main.yml
  ci_framework/roles/operator_build/tasks/build.yml
  scenarios/centos-9/content_provider.yml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-molecule-operator_build

Cookbook receipt: speed up daily use
  docs/source/cookbooks/01_comingsoon.md
  docs/source/cookbooks/speed-up-dev.md
Due: cifmw-doc

Use cifmw_openshift_setup_registry_tls_enable var to disable tls
  ci_framework/roles/openshift_setup/README.md
  ci_framework/roles/openshift_setup/defaults/main.yml
  ci_framework/roles/openshift_setup/tasks/main.yml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-molecule-openshift_setup

Add support to skip registry login
  ci_framework/roles/openshift_setup/README.md
  ci_framework/roles/openshift_setup/defaults/main.yml
  ci_framework/roles/openshift_setup/tasks/main.yml
  scenarios/centos-9/edpm_baremetal_deployment_ci.yml
  scenarios/centos-9/edpm_ci.yml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-molecule-openshift_setup

Add playbook to validate podified deployment
  ci_framework/hooks/playbooks/validate_podified_deployment.yml
  scenarios/centos-9/edpm_ci.yml
Due: cifmw-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Move repeated e2e job content in a base job
  zuul.d/end-to-end.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Document existing hooks
  ci_framework/hooks/playbooks/README.md
  docs/source/usage/available-hooks.md
Due: cifmw-doc

Explain cifmw_extras
  docs/source/usage/02_own_ci.md
Due: cifmw-doc

Don't build the storage-bundle spearately
  ci_framework/roles/operator_build/README.md
  ci_framework/roles/operator_build/defaults/main.yml
  ci_framework/roles/operator_build/molecule/default/validate_outputs.yml
  ci_framework/roles/operator_build/tasks/build.yml
  scenarios/centos-9/ci-build.yml
  scenarios/centos-9/content_provider.yml
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-end-to-end-nobuild, cifmw-molecule-operator_build

Fix test_deps role to work with edpm-ansible molecule job
  ci_framework/roles/repo_setup/tasks/install.yml
  ci_framework/roles/test_deps/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-repo_setup, cifmw-molecule-test_deps

[DNM] debug content provider
  ci/playbooks/content_provider/run.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Decoupling dependency on discover_latest_image
  ci_framework/roles/libvirt_manager/meta/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Use local registry for bundles in catalog build
  ci_framework/roles/operator_build/tasks/build.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-molecule-operator_build

Set ansible_user_dir var from min facts when undefined
  ci_framework/playbooks/01-bootstrap.yml
  scenarios/centos-9/ci.yml
  scenarios/centos-9/content_provider.yml
  scenarios/centos-9/edpm_ci.yml
Due: cifmw-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Run make_crc_attach_default_interface in kuttl tests
  ci/playbooks/kuttl/e2e-kuttl.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-kuttl

Add the local IMAGE vars to bundle-build
  ci_framework/roles/operator_build/tasks/build.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end, cifmw-molecule-operator_build

Replacing existing note about PR with explicit version requirement
  ci_framework/plugins/README.md
  ci_framework/plugins/action/ci_make.py
Due: cifmw-doc, cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

ansible-requirements include
  scripts/setup_env
  scripts/setup_molecule
Due: cifmw-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild

Removed the legacy global edpm_env
  ci_framework/hooks/playbooks/ceph-deploy.yml
  ci_framework/plugins/modules/generate_make_tasks.py
  ci_framework/roles/edpm_deploy/tasks/main.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/roles/install_yamls/molecule/default/converge.yml
  ci_framework/roles/install_yamls/tasks/main.yml
  ci_framework/roles/libvirt_manager/tasks/deploy_edpm_compute.yml
Due: cifmw-crc-podified-edpm-deployment, ci-framework-crc-podified-edpm-deployment, cifmw-end-to-end-nobuild, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager
