Repository openstack-k8s-operators/ci-framework: changes, and which Zuul jobs are due for each by the changed paths.
All: cifmw-molecule-artifacts, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-discover_latest_image, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager, cifmw-molecule-operator_build, cifmw-molecule-operator_deploy, cifmw-molecule-pkg_build, cifmw-molecule-registry_deploy, cifmw-molecule-repo_setup, cifmw-molecule-rhol_crc, cifmw-molecule-run_hook, cifmw-molecule-test_deps

Path conditions:
  cifmw-molecule-artifacts: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/artifacts/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-build_openstack_packages: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/build_openstack_packages/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-ci_setup: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/ci_setup/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-copy_container: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/copy_container/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-discover_latest_image: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/discover_latest_image/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-edpm_deploy: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_deploy/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-edpm_prepare: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/edpm_prepare/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-install_yamls: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/install_yamls/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-libvirt_manager: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/libvirt_manager/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-operator_build: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_build/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-operator_deploy: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/operator_deploy/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-pkg_build: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/pkg_build/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-registry_deploy: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/registry_deploy/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-repo_setup: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/repo_setup/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-rhol_crc: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/rhol_crc/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-run_hook: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/run_hook/(?!meta).*, ^ci/playbooks/molecule.*
  cifmw-molecule-test_deps: any of: ^ansible-requirements.txt, ^molecule-requirements.txt, ^ci_framework/roles/test_deps/(?!meta).*, ^ci/playbooks/molecule.*

New role: install_ca
  ci_framework/playbooks/01-bootstrap.yml
  ci_framework/roles/ci_setup/README.md
  ci_framework/roles/ci_setup/tasks/packages.yml
  ci_framework/roles/ci_setup/vars/main.yml
  ci_framework/roles/ci_setup/vars/redhat.yml
  ci_framework/roles/install_ca/README.md
  ci_framework/roles/install_ca/defaults/main.yml
  ci_framework/roles/install_ca/meta/main.yml
  ci_framework/roles/install_ca/molecule/default/converge.yml
  ci_framework/roles/install_ca/molecule/default/molecule.yml
  ci_framework/roles/install_ca/molecule/default/prepare.yml
  ci_framework/roles/install_ca/tasks/main.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: cifmw-molecule-ci_setup

Some quick corrections to zuul and Containerfile.test
  ci/templates/projects.yaml
  containerfiles/Containerfile.tests
  zuul.d/projects.yaml
Due: none

Add retries for dep_bundle_build_push
  ci_framework/roles/operator_build/tasks/build.yml
Due: cifmw-molecule-operator_build

Correct dependency issue in edpm_prepare
  ci_framework/roles/edpm_prepare/tasks/main.yml
Due: cifmw-molecule-edpm_prepare

Allow skipping CRC storage deployment in edpm_prepare
  ci_framework/roles/edpm_prepare/README.md
  ci_framework/roles/edpm_prepare/defaults/main.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
Due: cifmw-molecule-edpm_prepare

Adding EDPM based Zuul Job
  ci/playbooks/edpm/post.yml
  ci/playbooks/edpm/run.yml
  ci/templates/projects.yaml
  ci_framework/hooks/playbooks/disable_os_marketplace.yml
  ci_framework/hooks/playbooks/restart_nova_schedular.yml
  ci_framework/playbooks/02-infra.yml
  ci_framework/playbooks/05-build-operators.yml
  ci_framework/playbooks/06-deploy-edpm.yml
  ci_framework/roles/artifacts/molecule/default/prepare.yml
  ci_framework/roles/artifacts/tasks/cluster_info.yml
  ci_framework/roles/artifacts/tasks/main.yml
  ci_framework/roles/edpm_deploy/README.md
  ci_framework/roles/edpm_deploy/defaults/main.yml
  ci_framework/roles/edpm_deploy/molecule/default/converge.yml
  ci_framework/roles/edpm_deploy/molecule/default/prepare.yml
  ci_framework/roles/edpm_deploy/tasks/cleanup.yml
  ci_framework/roles/edpm_deploy/tasks/configure.yml
  ci_framework/roles/edpm_deploy/tasks/deploy.yml
  ci_framework/roles/edpm_deploy/tasks/main.yml
  ci_framework/roles/edpm_deploy/templates/edpm-play.yaml.j2
  ci_framework/roles/rhol_crc/tasks/add_crc_creds.yml
  scenarios/centos-9/edpm_ci.yml
  zuul.d/edpm.yaml
  zuul.d/end-to-end.yaml
  zuul.d/projects.yaml
Due: cifmw-molecule-artifacts, cifmw-molecule-edpm_deploy, cifmw-molecule-rhol_crc

[DEBUG] job
  ci/playbooks/edpm/run.yml
  ci/playbooks/logs/dstat.yml
  ci_framework/roles/edpm_deploy/tasks/main.yml
  zuul.d/edpm.yaml
Due: cifmw-molecule-edpm_deploy

Add playbooks and job to run kuttl tests
  ci/playbooks/kuttl/e2e-kuttl.yml
  ci/playbooks/kuttl/run.yml
  scenarios/centos-9/kuttl.yml
  zuul.d/kuttl.yaml
  zuul.d/projects.yaml
Due: none

Adding EDPM based Zuul Job
  USAGE.md
  ci/playbooks/edpm/post.yml
  ci/playbooks/edpm/run.yml
  ci/templates/projects.yaml
  ci_framework/hooks/playbooks/disable_os_marketplace.yml
  ci_framework/hooks/playbooks/rabbitmq_tuning.yml
  ci_framework/hooks/playbooks/restart_nova_scheduler.yml
  ci_framework/playbooks/02-infra.yml
  ci_framework/playbooks/05-build-operators.yml
  ci_framework/playbooks/06-deploy-edpm.yml
  ci_framework/roles/artifacts/molecule/default/prepare.yml
  ci_framework/roles/artifacts/tasks/cluster_info.yml
  ci_framework/roles/artifacts/tasks/main.yml
  ci_framework/roles/edpm_deploy/README.md
  ci_framework/roles/edpm_deploy/defaults/main.yml
  ci_framework/roles/edpm_deploy/molecule/default/converge.yml
  ci_framework/roles/edpm_deploy/molecule/default/prepare.yml
  ci_framework/roles/edpm_deploy/tasks/cleanup.yml
  ci_framework/roles/edpm_deploy/tasks/configure.yml
  ci_framework/roles/edpm_deploy/tasks/deploy.yml
  ci_framework/roles/edpm_deploy/tasks/main.yml
  ci_framework/roles/edpm_deploy/templates/edpm-play.yaml.j2
  ci_framework/roles/rhol_crc/tasks/add_crc_creds.yml
  scenarios/centos-9/edpm_ci.yml
  zuul.d/edpm.yaml
  zuul.d/end-to-end.yaml
  zuul.d/projects.yaml
Due: cifmw-molecule-artifacts, cifmw-molecule-edpm_deploy, cifmw-molecule-rhol_crc

Remove name and override-checkout from required projects
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/tests/sanity/ignore-2.15.txt
  zuul.d/content_provider.yaml
  zuul.d/edpm.yaml
  zuul.d/end-to-end.yaml
  zuul.d/jobs.yaml
  zuul.d/nodeset.yaml
Due: cifmw-molecule-edpm_prepare

Use centos-stream-9 nodeset instead of crc nodeset
  zuul.d/jobs.yaml
Due: none

Dynamically generate sanity-check ignore file based on Ansible version
  ci_framework/tests/sanity/ignore-2.14.txt
  ci_framework/tests/sanity/ignore-2.15.txt
  scripts/run_ansible_test
Due: none

Update mol test playbook for consuming it in edpm-ansible jobs
  ci/playbooks/molecule-prepare.yml
  ci/playbooks/molecule-test.yml
  zuul.d/jobs.yaml
Due: cifmw-molecule-artifacts, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-discover_latest_image, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager, cifmw-molecule-operator_build, cifmw-molecule-operator_deploy, cifmw-molecule-pkg_build, cifmw-molecule-registry_deploy, cifmw-molecule-repo_setup, cifmw-molecule-rhol_crc, cifmw-molecule-run_hook, cifmw-molecule-test_deps

Remove the unwanted cifmw_edpm_prepare_intall_yamls_output_dir var
  ci_framework/roles/edpm_prepare/tasks/main.yml
  scenarios/centos-9/edpm_ci.yml
Due: cifmw-molecule-edpm_prepare

Experiment zuul job for wonderful role
  ci_framework/playbooks/06-deploy-edpm.yml
  ci_framework/roles/wonderful_role/README.md
  ci_framework/roles/wonderful_role/defaults/main.yml
  ci_framework/roles/wonderful_role/files/.gitkeep
  ci_framework/roles/wonderful_role/handlers/main.yml
  ci_framework/roles/wonderful_role/meta/main.yml
  ci_framework/roles/wonderful_role/molecule/default/converge.yml
  ci_framework/roles/wonderful_role/molecule/default/molecule.yml
  ci_framework/roles/wonderful_role/molecule/default/prepare.yml
  ci_framework/roles/wonderful_role/tasks/cleanup.yml
  ci_framework/roles/wonderful_role/tasks/main.yml
  ci_framework/roles/wonderful_role/vars/main.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Return cifmw_operator_build_output var to child job
  ci/playbooks/content_provider/content_provider.yml
  ci/playbooks/content_provider/pre.yml
  ci/playbooks/content_provider/run.yml
  ci_framework/roles/operator_build/tasks/build.yml
  ci_framework/roles/registry_deploy/tasks/main.yml
  scenarios/centos-9/content_provider.yml
  zuul.d/content_provider.yaml
Due: cifmw-molecule-operator_build, cifmw-molecule-registry_deploy

Fix typo in task description
  deploy-edpm.yml
Due: none

Change a bit the file layout for zuul jobs
  ci/templates/jobs-init.yaml
  ci/templates/molecule.yaml
  ci/templates/projects.yaml
  scripts/create_role_molecule
  zuul.d/end-to-end.yaml
  zuul.d/molecule-base.yaml
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: none

Pass additional make_edpm_deploy_env var to inner ansible
  ci/playbooks/edpm/run.yml
Due: none

Developper entry point for easy usage on local HW
  Makefile
  ci/playbooks/dev-workflow.yml
  ci/templates/projects.yaml
  ci_framework/roles/local_env_vm/README.md
  ci_framework/roles/local_env_vm/defaults/main.yml
  ci_framework/roles/local_env_vm/files/firstboot.sh
  ci_framework/roles/local_env_vm/meta/main.yml
  ci_framework/roles/local_env_vm/molecule/default/converge.yml
  ci_framework/roles/local_env_vm/molecule/default/molecule.yml
  ci_framework/roles/local_env_vm/tasks/main.yml
  dev-local-env.yml
  scenarios/centos-9/local-env.yml
  scripts/local_env_vm_prepare
  zuul.d/end-to-end.yaml
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: none

Actually get nested virt
  ci_framework/roles/local_env_vm/tasks/main.yml
Due: none

Create a dedicated SSH keypair for the local env VM
  ci_framework/roles/local_env_vm/tasks/main.yml
  dev-local-env.yml
  requirements.yml
Due: none

Disable e2e skip of the edpm_prepare metaoperator deployment
  ci/playbooks/e2e-prepare.yml
  ci_framework/hooks/playbooks/rabbitmq_tuning.yml
  ci_framework/playbooks/05-build-operators.yml
  ci_framework/roles/edpm_deploy/defaults/main.yml
  ci_framework/roles/edpm_deploy/tasks/main.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/roles/rhol_crc/tasks/install_yamls.yml
  ci_framework/roles/rhol_crc/tasks/main.yml
  scenarios/centos-9/ci-build.yml
  scenarios/centos-9/ci.yml
  zuul.d/end-to-end.yaml
Due: cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-rhol_crc

DNM Test edpm baremetal job
  ci_framework/playbooks/07-deploy-edpm-baremetal.yml
  ci_framework/roles/edpm_prepare/defaults/main.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
Due: cifmw-molecule-edpm_prepare

Pass make_edpm_deploy_env as a dict
  ci/playbooks/edpm/run.yml
Due: none

Make OUT variable of install_yamls a global default
  ci_framework/roles/edpm_deploy/tasks/main.yml
  ci_framework/roles/edpm_prepare/molecule/default/converge.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/roles/install_yamls/defaults/main.yml
  ci_framework/roles/install_yamls/tasks/main.yml
  scenarios/centos-9/ci.yml
  scenarios/centos-9/edpm_ci.yml
  scenarios/centos-9/kuttl.yml
  scenarios/centos-9/local-env.yml
Due: cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_yamls

Allow to pass arbitrary extra vars to playbook
  ci/playbooks/e2e-run.yml
  ci/playbooks/edpm/run.yml
  zuul.d/end-to-end.yaml
Due: none

Run e2e-prepare and dump-zuul-vars playbook in pre
  zuul.d/edpm.yaml
Due: none

Sphinx documentation and version support
  .readthedocs.yaml
  CONTRIBUTING.md
  Makefile
  docs/Makefile_orig
  docs/doc-requirements.txt
  docs/source/Makefile
  docs/source/artifacts.md
  docs/source/conf.py
  docs/source/contributing.md
  docs/source/index.rst
  docs/source/psi.md
  docs/source/quickstart.md
  docs/source/readme.md
  docs/source/requirements.md
  docs/source/structure.md
Due: none

Do not kick any molecule nor e2e job on .md editions
  ci/templates/molecule.yaml
  ci/templates/projects.yaml
  zuul.d/edpm.yaml
  zuul.d/end-to-end.yaml
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: none

Use Local storage in EDPM CI
  ci_framework/roles/edpm_prepare/tasks/main.yml
  scenarios/centos-9/edpm_ci.yml
  zuul.d/edpm.yaml
Due: cifmw-molecule-edpm_prepare

Add a skip flag for compute_repos task
  ci_framework/roles/libvirt_manager/README.md
  ci_framework/roles/libvirt_manager/defaults/main.yml
  ci_framework/roles/libvirt_manager/tasks/deploy_edpm_compute.yml
Due: cifmw-molecule-libvirt_manager

Refactor documentation and add new content
  README.md
  ci/playbooks/collect-logs.yml
  ci_framework/plugins/README.md
  docs/source/Development/01_contributing.md
  docs/source/Internals/01_structure.md
  docs/source/Internals/02_testing.md
  docs/source/Quickstart/01_requirements.md
  docs/source/Quickstart/02_nested_virt.md
  docs/source/Quickstart/03_psi.md
  docs/source/Quickstart/99_FAQ.md
  docs/source/Usage/01_usage.md
  docs/source/Usage/02_own_ci.md
  docs/source/contributing.md
  docs/source/index.rst
  docs/source/plugins_readme.md
  docs/source/readme.md
  zuul.d/doc.yaml
Due: none

Add baremetal-operator in required-project
  zuul.d/content_provider.yaml
Due: none

Initial relase of the openshift_setup role
  ansible-requirements.txt
  ci_framework/playbooks/02-infra.yml
  ci_framework/playbooks/05-build-operators.yml
  ci_framework/roles/openshift_setup/README.md
  ci_framework/roles/openshift_setup/defaults/main.yml
  ci_framework/roles/openshift_setup/meta/main.yml
  ci_framework/roles/openshift_setup/molecule/default/converge.yml
  ci_framework/roles/openshift_setup/molecule/default/molecule.yml
  ci_framework/roles/openshift_setup/molecule/default/prepare.yml
  ci_framework/roles/openshift_setup/tasks/cleanup.yml
  ci_framework/roles/openshift_setup/tasks/main.yml
  ci_framework/roles/rhol_crc/tasks/main.yml
  docs/source/Roles/openshift_setup.md
  docs/source/Usage/01_usage.md
  molecule-requirements.txt
  scripts/create_role_molecule
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-molecule-artifacts, cifmw-molecule-build_openstack_packages, cifmw-molecule-ci_setup, cifmw-molecule-copy_container, cifmw-molecule-discover_latest_image, cifmw-molecule-edpm_deploy, cifmw-molecule-edpm_prepare, cifmw-molecule-install_yamls, cifmw-molecule-libvirt_manager, cifmw-molecule-operator_build, cifmw-molecule-operator_deploy, cifmw-molecule-pkg_build, cifmw-molecule-registry_deploy, cifmw-molecule-repo_setup, cifmw-molecule-rhol_crc, cifmw-molecule-run_hook, cifmw-molecule-test_deps

Add documentation about molecule tests
  Makefile
  docs/source/Development/02_molecule.md
Due: none

Add new doc for non-nested virtualization deploy
  Makefile
  docs/source/Quickstart/04_non-virt.md
Due: none

Fixing namespaces calculation and full e2e trigger pattern
  ci_framework/roles/openshift_setup/tasks/main.yml
  zuul.d/end-to-end.yaml
Due: none

Insert rabbitmq-cluster-operator bundle to bundle list
  ci_framework/roles/operator_build/tasks/build.yml
Due: cifmw-molecule-operator_build
